<div class="container">
  <table class="table table-bordered mt-4 form-table">
    <thead>
    <tr>
      <% Form.find(params[:form_id]).data.keys.each do |key| %>
        <th scope="col"> <%= key.titleize%> </th>
      <% end %>
      <th scope="col"> Status </th>
    </tr>
    </thead>
    <tbody>
    <% @submissions.each do |submission| %>
      <%# debugger %>
      <tr>
        <td> <%= submission.approved_by.present? %> </td>
        <% submission.data.each do |key, value| %>
          <td > <%= value %> </td>
        <% end %>
        <td> <%= submission.status %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

