<div class="container mt-5 d-flex row-wrap align-item-center justify-content-center">
  <% @forms.each do |form| %>
      <div class="card mx-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= form._type.titleize %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <%= link_to "Check Out", form_submissions_employees_path(_type: form._type, form_id: form.id ), class: "btn btn-primary" %>
        </div>
      </div>
  <% end %>
</div>