<div>list of users</div>

<div class="container d-flex flex-wrap">
  <% @users.each do |user|%>
      <h2><%= user.name if user.name? %></h2>
<!--      <p>Image at the top (card-img-top):</p>-->
      <div class="card" style="width:400px">
        <%#= image_tag @user.image if @user.image.attached? %>
        <h4><%= user.email if user.email? %></h4>
        <div class="card-body">
          <h4 class="card-title"><%= user.name %></h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        </div>
      </div>
      <br>
  <% end %>
</div>