<div class="container">
  <table class="table table-bordered mt-4 form-table">
    <thead>
    <tr>
      <% @submissions.first.data.keys.each do |key| %>
        <th scope="col" class="bg-secondary"> <%= key.titleize %> </th>
      <% end %>
      <th scope="col" class="bg-secondary"> Status</th>
    </tr>
    </thead>
    <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <% submission.data.each do |key, value| %>
          <td> <%= value %> </td>
        <% end %>
        <td> <%= submission.status %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>