<h1>Manager Portal</h1>
<div class="d-flex justify-content-center mt-5">
  <h1>Welcome to Reimbursement Management System </h1>
</div>

<div class="d-flex justify-content-center mt-5">
  <h1><%= current_user.role %></h1>
</div>

<div class="d-flex justify-content-center mt-5">
  <%= render "shared/dashboard" %>
  <div class="card text-center mx-5" style="width:400px">
    <h4 class="text-center">Requests For Approval</h4>
    <div class="card-body">
      <h4 class="card-title"><%= current_user.name %></h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer
        Some example text some example text. John Doe is an architect and engineer</p>
      <div class = "btn btn-primary mr-3">
        <%= link_to "Check Out New", manager_path(id: current_user.id), :class => "btn" %>
      </div>
    </div>
  </div>
  <br>
</div>