<div class="container">
  <table class="table table-bordered mt-4 form-table">
    <thead>
    <tr>
      <th scope="col" class="bg-secondary"> Employee ID</th>
      <th scope="col" class="bg-secondary"> Employee Name</th>
      <th scope="col" class="bg-secondary"> Number of request</th>
      <th scope="col" class="bg-secondary"> View it</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="col"><%= user.id %></th>
        <th scope="col"><%= user.name %></th>
        <th scope="col"><%= user.submissions.where(form_id: 2, status: "pending").count %></th>
        <th>
          <button class="btn btn-primary float-end">
            <%= link_to "Check Out", show_request_manager_path(user_id: user.id), class: "btn" %>
          </button>
        </th>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>