<div class="card text-center mx-5" style="width:400px">
  <h4 class="text-center">Previously Submitted Forms</h4>
  <div class="card-body">
    <h4 class="card-title"><%= current_user.name %></h4>
    <p class="card-text">Some example text some example text. John Doe is an architect and engineer
      Some example text some example text. John Doe is an architect and engineer</p>

    <div class="btn btn-primary mr-3">
    </div>
  </div>
</div>


<div class="card text-center mx-5" style="width:400px">,
  <h4 class="text-center">Apply For New Form</h4>
  <div class="card-body">
    <h4 class="card-title"><%= current_user.name %></h4>
    <p class="card-text">Some example text some example text. John Doe is an architect and engineer
      Some example text some example text. John Doe is an architect and engineer</p>

    <div class="btn btn-primary mr-3">
      <%= link_to "Check Out New", forms_path, :class => "btn" %>
    </div>
  </div>
</div>