<% if @active_role == "accountants" %>
  <div class="d-flex justify-content-end">
    <h4> Total: <%= @submission.user.total_generator([@submission]) %></h4>
  </div>

  <div class="d-flex justify-content-center">
    <%= link_to 'Excel', user_submissions_accountants_path(format: :xlsx, user_id: params[:user_id], _type: params[:_type], form_id: params[:form_id], submission_id: @submission.id), class: "btn btn-primary" %>
  </div>
<% end %>