<div class="container">
  <div class="row">
    <div class="col-6">
      Submitted Forms
    </div>
    <div class="col-6">
      New submission
    </div>
  </div>


  <div>
    <% @submissions.each do |submission| %>
      <div class="row">
        <% submission.data.keys.each do |key| %>
          <%= key %>
        <% end %>
      </div>
      <div class="row">
        <% submission.data.values.each do |value| %>
          <%= value %>
        <% end %>
      </div>
    <% end %>
  </div>


</div>