<div class="container">
  <table class="table table-bordered mt-4 form-table">
    <thead>
    <tr>
      <% if params[:_type] == "working" %>
        <th scope="col" class="bg-secondary"> Reporting Manager </th>
      <% end %>
      <% @submissions.first&.data&.keys&.each do |key| %>
        <th scope="col" class="bg-secondary"> <%= key.titleize%> </th>
      <% end %>
      <th scope="col" class="bg-secondary"> Status </th>
    </tr>
    </thead>
    <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <% if params[:_type] == "working" %>
          <th scope="col"> <%= submission.approved_by %>  </th>
        <% end %>
        <% submission.data&.each do |key, value| %>
          <th scope="col"> <%= value %> </th>
        <% end %>
        <th scope="col"> <%= submission.status %> </th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>