<div class="d-flex justify-content-center mt-5">
  <h1>List of Forms</h1>
</div>

<div class="d-flex justify-content-center mt-5">
  <% @forms.each do |form| %>
    <div class="mx-2">
      <h4 class="text-center"><%= form._type.titleize if form._type? %></h4>
      <div class="card" style="width:400px">
        <div class="card-body">
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <div class="btn btn-primary mr-3">
            <%= link_to "Check Out", new_submission_path(_type: form._type), :class => "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>