.dropdown .icon {
    font-size: 25px;
    color: white;
    margin-right: 20px;
}

.dropdown-toggle::after {
    display: none !important;
}


.form-input-field:focus {
    outline: none;
}

.form-table {
    border-radius: 100px;
}

.user-data {
    border-bottom: 1px solid;
    float: left;
}

.border-none {
    border: none;
    width: 100%;
}

.body{
    background-color: #F7F7F7;
}

.main-dashboard{
    background-color: white;
}
.app-container{
    margin-top: 150px;
    background-color: white;
    padding: 20px;
}
.dropdown-forms{
    margin-right: 276px;
    margin-top: 105px;
}

.header-requested-button{
    margin-left: 680px;
}
.header-submission-button{
    margin-left: 100px;
}

.gallery{
    height: 200px;
    width: 400px;
}