.dropdown i {
    font-size: 25px;
    color: white;
    margin-right: 20px;
}

.dropdown-toggle::after {
    display: none !important;
}

.form-input-field {
    border: none;
}

.form-input-field:focus {
    outline: none;
}

.form-table {
    border-radius: 100px;
}

.user-data {
    border-bottom: 1px solid;
    float: left;
}

.input-field-form {
    border: none;
}
